.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  min-height: 100vh;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  background-color: black;
  padding: 2rem 0;
}

.page > h3 {
  font-size: 1.4rem;
  font-family: 'Press Start 2P', cursive;
  color: black;
  text-shadow: 2px 1px cyan, -2px -1px rgb(251, 121, 255);
}

.page > p {
  color: white;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  font-family: 'Fredoka One', cursive;
}

.page > p:nth-of-type(2) {
  width: 8.5rem;
  font-size: 1.7rem;
  padding: .5rem 0;
  text-align: center;
  --animate-duration: 1.65s;
}

.btn-reset {
  cursor: pointer;
  min-height: 4.25rem;
  min-width: 13rem;
  border-radius: .5rem;
  border: 2px solid white;
  background-color: black;
  color: black;
  text-shadow: 2px 1px cyan, -2px -1px rgb(251, 121, 255);
  font-size: 1.25rem;
  font-family: 'Press Start 2P', cursive;
}



