.cell {
  border: 1px solid rgb(255, 255, 135);
  height: 4.7rem;
  width: 4.7rem;
  font-family: 'Fredoka One', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  background-color: black;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: none;
}