@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Monoton&family=Press+Start+2P&display=swap');

.purple {
  color: rgb(251, 121, 255);
}

.cyan {
 color: cyan;
}

.board {
  min-height: 15rem;
  min-width: 15rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: black;
  padding: 1rem;
  border-radius: .5rem;
}
